<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="C:\Users\maliozt\source\MyProjects\MapApplication\MapApplication\Log2\asdaf.log">
<targets>
    <target
    xsi:type="File"
    name="mapFile"
    fileName="C:\Anonymous Log\${shortdate}.log"
    layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" >
    </target>

    <target 
    xsi:type="Database" 
    name="mapDataBase">
        <commandText>INSERT INTO NLogs (Application, Level, Message, Logger, CallSite, Exception, Logged) VALUES ( @Application, @Level, @Message, @Logger, @callSite, @Exception,@Logged)</commandText>
        <parameter name="@application" layout="AspNetCoreNlog" />
    <parameter name="@level" layout="dddddddddd" />
    <parameter name="@message" layout="ffff" />

    <parameter name="@logger" layout="ggggggggggggg" />
    <parameter name="@callSite" layout="hhhhhhhhhhhhhh" />
    <parameter name="@exception" layout="tttttttttt" />
    <parameter name="@logged" layout="wwwwwwwwwwww" />
        <!--<dbProvider>System.Data.SqlClient</dbProvider>-->
        <connectionString>Server=LAPTOP-LJS79BE6\\MSSQL; Database=AnonymousDB;User Id=sa;Password=admin123; Trusted_Connection=True; MultipleActiveResultSets=True;</connectionString>
    </target>
</targets>
<rules>
    <logger name="*" minlevel="Warn" writeTo="mapFile" />
    <logger name="*" minlevel="Error" writeTo="mapDataBase" />
</rules>
</nlog>